/* Mengatur latar belakang aplikasi */
.App {
  height: 100vh;
  background-image: url(../image/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Menambahkan gaya untuk kotak cuaca */
.weather-container {
  max-width: 400px;
  background-color: rgba(90, 178, 250, 0.651);
}

input.form-control {
  border-radius: 20px;
}

button.btn {
  border-radius: 20px;
}

.Weather img {
  width: 100px;
  height: 100px;
}
